<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MiniDini</title>
  <link href="../css/reset.css" rel="stylesheet">
  <link href="../css/global.css" rel="stylesheet">
</head>
<header>
  <nav>
    <img class="logo" src="https://s3.eu-central-1.amazonaws.com/minidini/images/icons/logo.svg" alt="logo"/>
    <a href="#"><div class="household">
      <img class="household-icon" src="https://s3.eu-central-1.amazonaws.com/minidini/images/icons/icon-household.svg" alt="logo"/>
      <p class="household-inhabitants">1</p></div>
      <p class="household-name">JUMBO</p>
    </a>
    <ul>
    <li><a href="/household">HOUSEHOLD</li></a>
    <li><a href="/inventory">INVENTORY</li></a>
    <li><a href="/overview">OVERVIEW</li></a>
    </ul>
    <a href="#"><img class="notifications" src="https://s3.eu-central-1.amazonaws.com/minidini/images/icons/icon-notifications.svg" alt="Notifications"/></a>
    <a href="#"><img class="account" src="https://s3.eu-central-1.amazonaws.com/minidini/images/icons/icon-account.svg" alt="Account"/></a>
  </nav>
</header>
<body style="visibility: hidden;" onload="jsLoad()">
  {{{body}}}
  <script src="../js/index.js" charset="utf-8"></script>
</body>
</html>
