<link href="../css/inventory.css" rel="stylesheet">
<main>
<section class="items-search">
  <input id="items-search__input" type="text" placeholder="What item are you looking for?">
</section>
<ul id="items-list">
  <li class="item">
    <img class="item-icon" src="https://s3.eu-central-1.amazonaws.com/minidini/images/icons/icon_microwave-white.svg" alt="Item Icon"/>
    <h3 class="item-name">Microwave</h3>
  </li>
  <li class="item">
    <img class="item-icon" src="https://s3.eu-central-1.amazonaws.com/minidini/images/icons/icon_microwave-white.svg" alt="Item Icon"/>
    <h3 class="item-name">Microwave</h3>
  </li>
  <li class="item">
    <img class="item-icon" src="https://s3.eu-central-1.amazonaws.com/minidini/images/icons/icon_microwave-white.svg" alt="Item Icon"/>
    <h3 class="item-name">Microwave</h3>
  </li>
  <li class="item">
    <img class="item-icon" src="https://s3.eu-central-1.amazonaws.com/minidini/images/icons/icon_microwave-white.svg" alt="Item Icon"/>
    <h3 class="item-name">Microwave</h3>
  </li>
  <li class="item">
    <img class="item-icon" src="https://s3.eu-central-1.amazonaws.com/minidini/images/icons/icon_microwave-white.svg" alt="Item Icon"/>
    <h3 class="item-name">Microwave</h3>
  </li>
  {{#if items}}
    {{#each items}}
       <li>
         <p>{{{ this.name }}}</p>
       </li>
     {{/each}} 
  {{/if}}
</ul>
</main>
