<link href="../css/itemsCreate.css" rel="stylesheet">

<main id="items-wrapper">
  <div id="iconrect"></div>
  <form id="items-form" action="/items/create" method="post">
    <section class="items-flex">
    <section class="items-form-column">
      <fieldset>
        <label for="name">Item Name</label><br>
        <input id="name" type="text" name="name" value=""></input>
      </fieldset>
      <fieldset>
        <label for="description">Item Description</label><br>
        <textarea id="description" type="text" name="description" value=""></textarea>
      </fieldset>
      <fieldset class="item-attachment">
        <a href="#"><img class="item-attachment-link" src="https://s3.eu-central-1.amazonaws.com/minidini/images/icons/icon_attachment.svg" alt="attachment"/></a>
        <label id="item-attachment-label" for="attachment">Upload Attachment</label>
      </fieldset>
    </section>
    <section class="items-form-column">
      <fieldset>
        <label for="date">Date of Purchase</label><br>
        <input id="date" type="text" name="date" placeholder="DD.MM.YYYY" value=""></input>
      </fieldset>
      <fieldset>
        <label for="value">Purchase Value</label><br>
        <input id="value" type="text" name="value" placeholder="00.00 CHF" value=""></input>
      </fieldset>
      <fieldset>
        <label for="category">Select Category</label><br>
        <select id="category" required="true" name="category" value="">
          <option value="" disabled selected>Select a category...</option>
          <option value="Furniture">Furniture</option>
          <option value="Decoration">Decoration</option>
          <option value="Home Appliance">Home Appliance</option>
          <option value="Entertainment Device">Entertainment Device</option>
          <option value="Garden">Garden</option>
        </select>
      </fieldset>
      <fieldset class="item-impairment">
        <input id="item-impairment-checkbox" type="checkbox" name="impairment"></input>
        <label id="item-impairment-label" for="impairment"><span></span>Calculate Impairment</label>
      </fieldset>
    </section>
    </section>
    <section id="items-buttons">
      <a href="/" class="button-cancel">Cancel</a>
      <button class="button-gold" id="itemAdd" type="submit">Add Item</button>
    </section>
  </form>
</main>
