<link href="../css/itemsCreate.css" rel="stylesheet">

<main>
  <form class="formular" action="navbar.html" method="post">
    <div id="iconrect"></div>
    <ul class="inputblocks">
    <li>
    <div>
      <label for="item-name">Item Name</label><br>
      <input name="item-name" id="item-name" type="text" autofocus="ture" placeholder="Item Name"></input>
    </div>
    </li>
    <li>
    <div>
      <label for="item-date">Date of Purchase</label><br>
      <input name="item-date" id="item-date" type="text" placeholder="DD.MM.YYYY"></input>
    </div>
    </li>
    <li>
    <div>
      <label for="item-description">Item Description</label><br>
      <textarea name="item-description" id="item-description" type="text"></textarea>
    </div>
    </li>
    <li>
    <div>
      <label for="item-value">Purchase Value</label><br>
      <input name="item-value" id="item-value" type="text" placeholder="00.00 CHF"></input>
    </div>
    </li>
    <li>
    <div>
    <label for="item-category">Select Category</label><br>
      <select id="item-category" name="item-category" required="true">
        <option value="" disabled selected>Please select a category...</option>
        <option value="Furniture">Furniture</option>
        <option value="Decoration">Decoration</option>
        <option value="Home Appliance">Home Appliance</option>
        <option value="Entertainment Device">Entertainment Device</option>
        <option value="Garden">Garden</option>
      </select>
    </div>
    </li>
    </ul>
  </form>
</main>
