@font-face {
  font-family: 'VAGRounded';
  src: url('../fonts/VAGRoundedStd-Bold.woff') format('woff');
}

html {
  color: rgba(51, 51, 51, 1);
  background-color: rgba(255, 255, 255, 1);
  font-family: 'VAGRounded', Fallback, sans-serif;
  letter-spacing: 0.01rem;
}

main {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

fieldset {
  margin-bottom: 2.5rem;
}

input {
  border: solid 5px rgba(242, 208, 145, 1);
  border-radius: 4px;
  width: 12rem;
  height: 3rem;
  display: inline-block;
  font-family: inherit;
  font-size: 120%;
  padding: 0 1rem;
  color: inherit;
}

textarea {
  border: solid 5px rgba(242, 208, 145, 1);
  border-radius: 4px;
  width: 20rem;
  height: 9rem;
  display: inline-block;
  font-family: inherit;
  font-size: 120%;
  resize: none;
  padding: 1rem;
  color: inherit;
}

select {
  border: solid 5px rgba(242, 208, 145, 1);
  border-radius: 4px;
  width: 12rem;
  height: 3rem;
  display: inline-block;
  font-family: inherit;
  font-size: 120%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box; 
  box-sizing:content-box;
  padding: 0 1rem;
  color: inherit;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select:required:invalid {
  color: rgba(214, 214, 214, 1);
}

button:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: rgba(51, 51, 51, 1);
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  letter-spacing: 0.05rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(214, 214, 214, 1);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1px;
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(214, 214, 214, 1);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1px;
}

:-ms-input-placeholder { /* IE 10+ */
  color: rgba(214, 214, 214, 1);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1px;
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(214, 214, 214, 1);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1px;
}

nav{
  background-color: rgba(255, 255, 255, 1);
  font-size: 20px;
  position: sticky;
  top: 0;
  display: flex;
  height: 10rem;
}
nav ul{
  padding: 0;
  margin-top: 74px;
}
nav ul li{
  display: inline-flex;
  margin-right: 42px;
  letter-spacing: .05rem;
}
nav a{
  display: inline-flex;
  text-decoration: none;
  color: #333;
}

.logo {
  display: inline-flex;
  width: 290px;
  height: 60px;
  margin: 50px 143px 0 60px;
}

.household-icon {
  width: 32px;
  height: 34px;
  margin: 62px 0px 0 0px;
}

.notifications {
  width: 30px;
  height: 33px;
  margin: 62px 0 0 18px;
}

.account {
  width: 34px;
  height: 32px;
  margin: 64px 0 0 28px;
}

.household-name{
  display: inline-flex;
  margin: 74px 141px 0 10px;
}

.household-inhabitants {
  font-size: 14px;
  transform: translate(40%, -150%);
  color: rgba(255, 255, 255, 1);
}

.household {
  position: relative;
}

.background-illus {
  width: 100vw;
  height: 100vw;
  margin-top: 5rem;
  background-image: url(https://s3.eu-central-1.amazonaws.com/minidini/images/icons/bg-inventory.svg);
  background-repeat: no-repeat;
  z-index: -1;
}
