.items-search {
  display: block;
  margin: 5rem auto;
  text-align: center;
}

#items-search__input {
  width: 30rem;
  background-image: url("https://s3.eu-central-1.amazonaws.com/minidini/images/icons/icon_search.svg");
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 1.6rem;
}

#items-list {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem 10rem;
  grid-gap: 1.5rem;
  width: 44.5rem;
  margin: 0 auto;
}

#item-add {
  border: 5px solid rgba(214, 214, 214, 1);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
  background-image: url('https://s3.eu-central-1.amazonaws.com/minidini/images/icons/icon_plus.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.item {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  background-color: rgba(232, 176, 73, 1);
  border-radius: 4px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.item-icon {
  width: 4rem;
  height: 4rem;
  margin: 1rem auto .5rem auto;
}

.item-name {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
