#items-wrapper {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  width: 48.5rem;
}

#items-form {
  display: flex;
  flex-direction: column;
}

.items-flex {
  display: flex;
  flex-direction: row;
}

.items-form-column {
  display: inline-block;
  width: auto;
  margin-right: 3rem;
}

#items-buttons {
  display: block;
  align-self: flex-end;
  margin-top: 4rem;
}

input#name {
  width: 25rem;
}

textarea#description {
  width: 25rem;
}

#iconrect {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-color: #fcb23b;
  border-radius: 4px;
  margin-bottom: 40px;
}

.splitscreen {
  display: inline-block;
  color: #333;
  font-size: 14px;
  margin: 190px 0 0 47px;
  top: 0;
}

.vl {
    position: absolute;
    border-left: 5px solid #fcb23b;
    border-radius: 4px;
    height: 100%;
    left: 980px;
    top: 188px;
    z-index: -1;
}

.basepie {
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: conic-gradient(#333 33.33%, #D6D6D6 0, #D6D6D6 66.66%, #fcb23b 0);
  z-index: -1;
  margin-left: 35px;
  margin-top: 62px;
}

.toppie {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background: #fff;
  margin: 0 auto;
  margin-top: 25%;
}

.totalline {
  text-align: center;
  font-size: 20px;
  margin-top: 80px;
}

.totalvalue {
  display: inline-block;
}

#total {
  display: inline-block;
  margin-right: 2px;
}

#chf {
  display: inline-block;
  color: #FDD89D;
  margin-right: 2px;
}

.splitbuttons {
  margin-top: 63px;
}

#equal {
  width: 100px;
  height: 60px;
  font-size: 30px;
  border-width: 5px;
  border-color: #fcb23b;
  border-radius: 4px;
  margin-right: 11px;
}

#percent {
  width: 100px;
  height: 60px;
  font-size: 25px;
  border-width: 5px;
  border-color: #fcb23b;
  border-radius: 4px;
  padding-top: 8px;
  margin-right: 11px;
}

#amount {
  width: 100px;
  height: 60px;
  font-size: 20px;
  border-width: 5px;
  border-color: #fcb23b;
  border-radius: 4px;
  padding-top: 8px;
  margin-right: 11px;
}

.users {
  display: inline-block;
  border-style: solid;
  border-width: 5px;
  border-color: #FDD89D;
  border-radius: 4px;
  width: 320px;
  height: 177px;
  margin-top: 40px;
}

#usernumber {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  margin-right: 17px;
}

#username {
  display: inline-block;
  font-size: 20px;
  margin: 0;
  margin-right: 15px;
}

#userchf {
  display: inline-block;
  font-size: 20px;
  color: #fcb23b;
  margin: 0;
  margin-right: 5px;
}

.userdelete {
  display: inline-block;
  vertical-align: middle;
}

ul.users {
  list-style-type: none;
}

ul.users li {
  margin-bottom: 40px;
  padding-top: 4px;
}

.item-attachment {
  display: flex;
  cursor: pointer;
}

.item-attachment-link {
}

#item-attachment-label {
  vertical-align: middle;
  align-self: center;
  margin: 0 0 0 1rem;
}

.item-impairment {
  width: 30px;
  height: 30px;
  border-color: #FDD89D;
  border-style: solid;
  border-radius: 4px;
  border-width: 5px;
}

.button-cancel {
  width: 15rem;
  height: 3.5rem;
  background-color: rgba(51, 51, 51, 1);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.2rem;
  color: white;
  line-height: 3.5rem;
  border-radius: 4px;
  letter-spacing: .06rem;
  margin: 0 0 0 1rem;
}

.button-gold {
  width: 15rem;
  height: 3.5rem;
  background-color: rgba(232, 176, 73, 1);
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.2rem;
  color: white;
  line-height: 3.5rem;
  border-radius: 4px;
  letter-spacing: .06rem;
  border: 0;
  padding: 0;
  margin: 0 0 0 1rem;
}
